{% extends 'partials/base.twig' %}

{% block content %}

    <header style="background-image: url('{{ img }}')">
      <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="tags">
          {% for tag in tags %}
            <span>{{ tag }}</span>
          {% endfor %}
        </div>
        
        {{ html }}
      </div>
    </main>

{% endblock %}